module.exports = {
  apps: [
    {
      name: "uisg",
      script: "npm",
      args: "start",
      instances: 1,
      autorestart: true,
      watch: false,
      // max_memory_restart: '512M',
      env: {
        NODE_ENV: "development"
      },
      env_production: {
        NODE_ENV: "production"
      }
    }
  ],

  deploy: {
    production: {
      user: "",
      host: [
        {
          host: "",
          port: ""
        }
      ],
      ref: "origin/master",
      repo: "git@github.com:nico2che/uisg-rooms.git",
      path: "",
      "post-deploy":
        "cd api && yarn && pm2 reload ecosystem.config.js --env production"
    }
  }
};
